body{
    margin: 0px;
    margin-bottom: 100px;
    color: rgb(0, 0, 0);
    background: rgb(132, 231, 206);
}

header{
    border: solid 4px rgb(255, 255, 255);
    font-size: 35px;
    color: black;
    background: rgb(225, 255, 250);
    padding: 20px;
    display: flex;
    justify-content: center;
}

.titulo {
    font-size: 27px;
    display: flex;
    justify-content: center;
}

.texto {
    font-size: 22px;
}

img {
    height: 200px;
    margin: 20px;
}